name: Lint
on:
  push:
    branches:
      - main
      - release/**
      - feat/**
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.22"
          check-latest: true
      - name: run linting
        if: env.GIT_DIFF
        run: |
          make lint